<md-subheader class="md-no-sticky">Todos </md-subheader>
  <form name="todosForm">
    <md-list-item ng-repeat="todo in todos" ng-click="doCompleteAction($index, todo, true)" aria-label="Option check the todo">
      <md-input-container>
          <img alt="{{ todo.name }}" ng-src="{{ todo.img }}" class="md-avatar" ng-click="doPhotoShow(todo)" aria-label="Todo photo" />
      </md-input-container>
        <md-input-container md-no-float class="md-block" flex-gt-sm>
          <input ng-model="todo.name" ng-disabled="todo.checked" ng-keyup="doKeyup($index, todo)" aria-label="Input for todo name" />
        </md-input-container>
        <md-input-container>
          <md-checkbox class="md-secondary" ng-model="todo.checked" ng-change="doCompleteAction($index, todo, false)" aria-label="Option check the todo" ng-show="todo.name"></md-checkbox>
          <ng-md-icon icon="photo" ng-click="" aria-label="Photo image" class="md-secondary md-hue-3" type="file" ngf-select="uploadFiles($file, $invalidFiles, $index, todo)" accept="image/*" ng-show="todo._id">
          </ng-md-icon>
          <ng-md-icon icon="delete" ng-click="doDeleteAction($index, todo)" aria-label="Delete todo" class="md-secondary md-hue-3" ng-show="todo._id"></ng-md-icon>
        </md-input-container>
      </md-list-item>
      <md-button class="md-fab md-fab-bottom-right md-button" aria-label="Add new todo" ng-click="doAddAction()">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
  </form>
