$color1: #119546;
$color2: #2c3e50;
$color3: #34495e;
$color4: #fff;
$color5: #cecece;
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header{
  background: $color1;
  padding: 20px 13px;
  color: #fff;

  h1{
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1em;
  }
}

main{
  padding: 10px 50px;
}

ul{
  list-style-type: none;
  li{
    margin: 10px 0;
    height: 60px;
    display: block;
    padding: 10px;
    &:hover{
      border-left: 3px solid #e0dada;
    }
    button{
      i{
        margin-left: 8px;
      }
    }
  }
}


input{
  &[type="text"]{
    border: 0;
    border-bottom: 2px solid $color5;
    width: 80%;
    padding: 15px 5px;
    font-size: 1em;

    &:read-only{
      border-bottom: 2px dotted $color5;
    }
    &:focus:not(:read-only){
      outline: none;
      border-bottom: 2px solid $color1;
    }
  }

  &[type="file"]{
    position: absolute;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 1px;
    height: 23px;
  }
}

button{
  border: 0;
  background-color: transparent;
  &.circle{
    background-color: $color2;
    border-radius: 50%;
    padding: 15px;
    float: right;
    i{
      color: $color4;
    }
    &:hover{
      background-color: $color3;
    }
  }

  &.upload{
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
}
img{
  border-radius: 50%;
  border: 0;
  height: 40px;
  width: 40px;
}
